.product-image {
    width: 100px;
}

.logo{
    width: 50px;
}

header{
    background: url(https://st2.depositphotos.com/5520270/10007/v/950/depositphotos_100077484-stock-illustration-running-man-logo-and-symbol.jpg) 
    ;
}

main {
    display: flex;
}

section {
    display: flex;
    flex-direction: column;
}

.productContainer {
    display: flex;
} 

.productButtons{
    background-color: #f7a873;
    border: none;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 10px 18px;
    border-radius: 15px;
}