.product-image {
    width: 100px;
}

.logo{
    width: 50px;
}

header{
    background: url(https://st2.depositphotos.com/5520270/10007/v/950/depositphotos_100077484-stock-illustration-running-man-logo-and-symbol.jpg) 
    ;
}