body {
    width: 100vw;
    height: 100vh;
}

.top-section {
    width: 500px;
    height: 200px;
    /* background-image: url("/img/running-shoes.jpg"); */
}

/* .main-image {
    width: 50%;
    height: 50%;
} */

.bottom-section {
    display: flex;
    width: 500px;
    height: 500px;
}

.quienes-somos {
    background-color: blueviolet;
    width: 100%;
    height: 100%;
    top: 2vh;
    right: 8vw;
}