@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato';
    margin: 0;
    box-sizing: border-box;
}

div#container {
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    width: 100%;
}

header{
    display: flex;
    height: 600px;  
    background: url("img/header.jpg");
}

.header-title {
    text-decoration: none;
    color:#08CE91;
    font-size: 90px;
}

h1 {
    font-size: 50px;
    align-self: center;
    margin-top: 175px;
    margin-left: 50px;
}

.logo{
    margin-top: 190px;
    margin-left: 100px;
    width: 150px;
<<<<<<< HEAD
    height: 150px;   
}
main{
    margin-bottom: 250px;
}

h1{ margin:0;
    margin-top: 5%;
    margin-left: 5%;
    color: cyan;
    font-size: 200px;
=======
    height: 150px;
>>>>>>> ab890233aff2b92d431e27cb47663d41fcf3a5b0
}

h2{
    text-align: center;
    margin: 0;
}

<<<<<<< HEAD
h3{

}
=======
>>>>>>> ab890233aff2b92d431e27cb47663d41fcf3a5b0
h4{
    text-align: center;
    font-size: 100px;
    margin: 0;
    margin-bottom: 150px;
}

.product_image_img{
    width: 400px;
    height: 300px;
    cursor: pointer;
<<<<<<< HEAD
}

.img_size{
    width: 225px;
    height: 225px;
=======
>>>>>>> ab890233aff2b92d431e27cb47663d41fcf3a5b0
}

#home{
    display: flex;
}

/* sections */

.all{
    display: flex;
    justify-content: space-around;
}

.category {
    background-color: #f1afce;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.category-mid {
    background-color: #e790b9;
    width:100%;
    display: flex;
    flex-direction: column;
}

 /* Catalog */

.catalog{
display: flex;
margin-top: 100px;
justify-content: space-evenly;
}

.catalog_image {
    width: 200px;
}

.catalog_img {
    width: 130%;
}

.productContainer {
    align-self: center;
    margin-bottom: 100px;
} 

.productButtons{
    background-color: #f7a873;
    border: none;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 50px;
    margin-right: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}

.productName {
    font-size: 28px;
}

.productPrice {
    font-size: 25px;
    font-weight: 700;
    color: #EF5438;
}

/* popup */

.productButtons_pop{
    cursor: pointer;
    background-color: #f7a873;
    border: none;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 10px 18px;
    border-radius: 15px;
}

.navbar {
    background-color: #39D8A7;
}

.navbar ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    height: 50px;
}

.foot{
    color:black;   
}

/* Pop-ups */

#popup{   
    width: 300px;
    height: 300px;
    border: 1px solid crimson;
    border-radius: 0 50px 0 50px;
    background: coral;
}

#main{
    display: none;
    position: relative;
    top: 100px;
}

#main:target{
    display: block;
}

#popup1{   
    width: 300px;
    height: 300px;
    border: 1 solid crimson;
    border-radius: 0 50px 0 50px;
    background: coral;
}

#main1{
    display: none;
    top: -400px;
}

#main1:target{
    display: block;
}

#popup2{   
    width: 300px;
    height: 300px;
    border: 1 solid crimson;
    border-radius: 0 50px 0 50px;
    background: coral;
}

#main2{
    display: none;
    opacity: 0.3;
}

#main2:target{
    display: block;
}

#popup3{   
    width: 300px;
    height: 300px;
    border: 1 solid crimson;
    border-radius: 0 50px 0 50px;
    background: coral;
}

#main3{
    display: none;
    opacity: 0.3;
}

#main3:target{
    display: block;
}

#popup4{   
    width: 300px;
    height: 300px;
    border: 1 solid crimson;
    border-radius: 0 50px 0 50px;
    background: rgba(255, 127, 80, 0.1);
}

figure {
    margin: 0;
}

#main4{
    display: none;
}

#main4:target{
    display: block;
}

.pop_gender{
    display: flex;
    justify-content: space-around;
}

#main_img_man{
    display: none;
    position: relative;
    top: 100px;
}

#main_img_man:target{
    display: block;
}

#popup_img_man{   
    width: 1215px;
    height: 420px;
    border: 1 solid crimson;
    border-radius: 0 50px 0 50px;
    background:rgba(143, 65, 65, 0.5);
}

#main_img_man{
    display: none;
    position: relative;
    top: 100px;
}

#main_img_man:target{
    display: block;
}

#popup_img_man{   
    width: 1215px;
    height: 420px;
    border: 1 solid crimson;
    border-radius: 0 50px 0 50px;
    background:rgba(143, 65, 65, 0.5);
}

#main_img_man{
    display: none;
    position: relative;
    top: 100px;
}

#main_img_man:target{
    display: block;
}

#popup_img_man{   
    width: 1215px;
    height: 420px;
    border: 1 solid crimson;
    border-radius: 0 50px 0 50px;
    background:rgba(143, 65, 65, 0.5);
}


#main_img_wom{
    display: none;
    position: relative;
    top: 100px;
}

#main_img_wom:target{
    display: block;
}

#popup_img_wom{   
    width: 1215px;
    height: 420px;
    border: 1 solid crimson;
    border-radius: 0 50px 0 50px;
    background:rgba(143, 65, 65, 0.5);
    margin-left: -415px;
    margin-right: -800px;
}

#main_img_kids{
    display: none;
    position: relative;
    top: 100px;
}

#main_img_kids:target{
    display: block;
}

#popup_img_kids{   
    width: 1215px;
    height: 420px;
    border: 1 solid crimson;
    border-radius: 0 50px 0 50px;
    background:rgba(143, 65, 65, 0.5);
    margin-left: -843px;

}




https://app.slack.com/client/T01TRL51EHF/C01U7EH1YGY
